.container {
  background-image: url(/images/paradise-background.jfif);
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  position: relative;
}

.container::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.container .content {
  height: 100%;
  position: relative;
  z-index: 2;
  color: #e4e0e0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

article {
  flex: 50% 2;
  font-size: 18px;
  text-align: center;
}

.intro {
  text-align: center;
  flex: 40% 1;
}

.intro button {
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  background-color: #3fa73f;
  font-weight: bold;
}

.intro * {
  margin: 10px 0;
}

.para {
  margin: 16px 0;
}
